

<link rel="stylesheet" href="<%= assetPath('css/style.css') %>">
<div class="wrap">
  <form class="login-form" action="/users/create" method="post">
    <div class="form-header">
      <h3>Sign Up Form</h3>
    </div>
    <!--Name Input-->
    <div class="form-group">
      <input
        type="name"
        name="name"
        placeholder="Name"
        class="form-input"
        required
      />
    </div>
    <!--Email Input-->
    <div class="form-group">
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-input"
        required
      />
    </div>
    <!--Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-input"
        placeholder="Password"
        required
      />
    </div>
    <!-- Confirm Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="confirm_password"
        class="form-input"
        placeholder="Confirm Password"
        required
      />
    </div>
   
    <!--Login Button-->
    <div class="form-group">
      <button class="form-button" type="submit">Signup</button>
    </div>
    
  </form>
</div>
<!--/.wrap-->

<style>
  .wrap {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    
    background: #fafafa;
    margin-top: 1rem;
  }
  .login-form {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
  }
  .form-input {
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .form-button {
    background: #004d40;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
  }
  .form-button:hover {
    background: #69d2e7;
    cursor: pointer;
  }
  .form-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  .form-footer {
    text-align: center;
  }
  
</style>
