

<link rel="stylesheet" href="/css/style.css" />
<div class="wrap">
  <form class="login-form" action="/users/create" method="post">
    <div class="form-header">
      <h3>Sign Up Form</h3>
    </div>
    <!--Name Input-->
    <div class="form-group">
      <input
        type="name"
        name="name"
        placeholder="Name"
        class="form-input"
        required
      />
    </div>
    <!--Email Input-->
    <div class="form-group">
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-input"
        required
      />
    </div>
    <!--Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-input"
        placeholder="Password"
        required
      />
    </div>
    <!-- Confirm Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="confirm_password"
        class="form-input"
        placeholder="Confirm Password"
        required
      />
    </div>
   
    <!--Login Button-->
    <div class="form-group">
      <button class="form-button" type="submit">Signup</button>
    </div>
    
  </form>
</div>
<!--/.wrap-->
